<!-- app/views/games/_form.html.erb -->
<%= simple_form_for @game do |form| %>

  <%= form.simple_fields_for :players do |player_form| %>
    <div class="player-fields">
      <h3><%= player_form.object.name %></h3>
      <h3><%= player_form.object.score %></h3>

      <%= player_form.input :one, label: "Score pour 1", collection: ["-", 0, 1, 2, 3, 4, 5], selected: player_form.object.one %>
      <p>Score: <%= player_form.object.one %></p>

      <%= player_form.input :two, label: "Score pour 2", collection: ["-", 0, 1, 2, 3, 4, 5], selected: player_form.object.two %>
      <p>Score: <%= player_form.object.two %></p>

      <%= player_form.input :three, label: "Score pour 3", collection: ["-", 0, 1, 2, 3, 4, 5], selected: player_form.object.three %>
      <p>Score: <%= player_form.object.three %></p>

      <%= player_form.input :four, label: "Score pour 4", collection: ["-", 0, 1, 2, 3, 4, 5], selected: player_form.object.four %>
      <p>Score: <%= player_form.object.four %></p>

      <%= player_form.input :five, label: "Score pour 5", collection: ["-", 0, 1, 2, 3, 4, 5], selected: player_form.object.five %>
      <p>Score: <%= player_form.object.five %></p>

      <%= player_form.input :six, label: "Score pour 6", collection: ["-", 0, 1, 2, 3, 4, 5], selected: player_form.object.six %>
      <p>Score: <%= player_form.object.six %></p>

      <%= player_form.input :triple, label: "Score pour brelan", selected: player_form.object.triple %>

      <%= player_form.input :quadriple, label: "Score pour carré", selected: player_form.object.quadriple %>

      <%= player_form.input :full, label: "Score pour full", collection: ["-", 0, 25], selected: player_form.object.full %>

      <%= player_form.input :small, label: "Score pour petite suite", collection: ["-", 0, 30], selected: player_form.object.small %>

      <%= player_form.input :long, label: "Score pour grande suite", collection: ["-", 0, 40], selected: player_form.object.long %>

      <%= player_form.input :chance, label: "Score pour chance", selected: player_form.object.chance %>

      <%= player_form.input :yams, label: "Score pour yams", selected: player_form.object.yams %>

      <%= player_form.input :_destroy, as: :boolean, label: 'Supprimer' %>
    </div>
  <% end %>

  <div id="add-player-link">
    <%= link_to 'Ajouter un joueur', '#', id: 'add-player' %>
  </div>

  <%= form.button :submit, "Enregistrer" %>
<% end %>
